header {
    flex-direction: row;
}

.webnav, .safebar {
    flex-direction: column;
    justify-content: space-between;
}

.webnav a, .safebar a{
    margin-top: 3vh;
    border-bottom: 2px solid white;
}

.logo {
    display: none;
}

.bigimage img{
    width: 75vw;
    height: 5vh;
}

.products {
    flex-direction: column;
}

.product {
    border: 3px solid white;
    width: 50vw;
    margin-top: 3vh;
}

.comments, .commenttitle, .commentparagraph, .newaddition{
    display: none;
}